# Named "docker-compose.yml"

services:
  navidrome:
    image: deluan/navidrome:${NAVIDROME_VERSION}
    container_name: navidrome
    user: ${NAVIDROME_USER_UID}:${NAVIDROME_USER_GID}
    ports:
      - "${NAVIDROME_PORT}:4533"
    environment:
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info
      ND_SESSIONTIMEOUT: 24h
      ND_BASEURL: ""
    volumes:
      - "./data:/data"
      - "${NAVIDROME_MUSIC_PATH}:/music:ro"
    restart: unless-stopped